/* General Style */

/* Links */
ul,
li {
  list-style-type: none;
  color: grey;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  text-decoration: none;
  cursor: pointer;
}

.title-brand {
  color: orange;
  font-weight: bold;
}

/* Style for Node Grid */
.node-grid {
  background-color: mintcream;
  border-radius: 4px;
  border-color: mintcream;
  padding: 20px;
  transition: all 0.2s;
}

.card-list {
  display: grid;
  grid-gap: 0.2em;
  border-radius: 4px;
  font-size: initial; /* overrides: font-size: small; */
}

.card-list > .list-group-item {
  height: 100%;                 /* fill the gridAutoRows height */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  container-type: inline-size;  /* enables cqi sizing for the label */
}

/* If you wrapped the hostname in <span class="node-name"> */
.card-list > .list-group-item .node-name {
  font-size: clamp(0.95rem, 14cqi, 1.25rem);
  line-height: 1;
  padding: 0 0.35rem;           /* keeps visible background margin */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-item {
  background-color: black;
  color: white;
  font-weight: bold;
 border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}
.card-item:hover {
  background-color: grey;
  color: white;
  font-weight: bold;
}

.card-reserved-up {
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-grp-reserved-up:hover {
  background-color: green;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.card-reserved-on {
  background-color: green;
  color: cornflowerblue;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-grp-reserved-on:hover {
  background-color: green;
  color: cornflowerblue;
  font-weight: bold;
  pointer-events: none;
}

.card-reserved-ping {
  background-color: green;
  color: orange;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-grp-reserved-ping:hover {
  background-color: green;
  color: orange;
  font-weight: bold;
  pointer-events: none;
}

.card-reserved-off {
  background-color: green;
  color: red;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-reserved-off:hover {
  background-color: green;
  color: red;
  font-weight: bold;
  pointer-events: none;
}

.card-reserved-unknown {
  background-color: green;
  color: dimgray;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-reserved-unknown:hover {
  background-color: green;
  color: dimgray;
  font-weight: bold;
  pointer-events: none;
}

.card-grp-reserved-up {
  background-image: repeating-linear-gradient(
    45deg,
    green,
    green 10px,
    darkgreen 10px,
    darkgreen 20px
  );
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-grp-reserved-up:hover {
  background-color: green;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.card-grp-reserved-off {
  background-image: repeating-linear-gradient(
    45deg,
    green,
    green 10px,
    darkgreen 10px,
    darkgreen 20px
  );
  background-color: green;
  color: red;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-grp-reserved-off:hover {
  background-color: green;
  color: red;
  font-weight: bold;
  pointer-events: none;
}

.card-grp-reserved-unknown {
  background-image: repeating-linear-gradient(
    45deg,
    green,
    green 10px,
    darkgreen 10px,
    darkgreen 20px
  );
  background-color: green;
  color: dimgray;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-grp-reserved-unknown:hover {
  background-color: green;
  color: dimgray;
  font-weight: bold;
  pointer-events: none;
}

.card-other-reserved-up {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-other-reserved-up:hover {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.card-other-reserved-on {
  background-color: rebeccapurple;
  color: cornflowerblue;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-other-reserved-on:hover {
  background-color: rebeccapurple;
  color: cornflowerblue;
  font-weight: bold;
  pointer-events: none;
}

.card-other-reserved-ping {
  background-color: rebeccapurple;
  color: orange;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-other-reserved-ping:hover {
  background-color: rebeccapurple;
  color: orange;
  font-weight: bold;
  pointer-events: none;
}

.card-other-reserved-off {
  background-color: rebeccapurple;
  color: red;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-other-reserved-off:hover {
  background-color: rebeccapurple;
  color: red;
  font-weight: bold;
  pointer-events: none;
}

.card-other-reserved-unknown {
  background-color: rebeccapurple;
  color: dimgray;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-other-reserved-unknown:hover {
  background-color: rebeccapurple;
  color: dimgray;
  font-weight: bold;
  pointer-events: none;
}

.card-available-off {
  background-color: black;
  color: red;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}
.card-available-off:hover {
  background-color: black;
  color: red;
  font-weight: bold;
}

.card-available-unknown {
  background-color: black;
  color: dimgray;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}
.card-available-unknown:hover {
  background-color: grey !important;
  color: orange;
  font-weight: bold;
}
.card-available-unknown:active {
  background-color: grey !important;
  color: orange;
  font-weight: bold;
}

.card-blocked-up {
  background-color: rgb(160, 137, 4);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-blocked-up:hover {
  background-color: rgb(160, 137, 4);
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.card-blocked-on {
  background-color: rgb(160, 137, 4);
  color: cornflowerblue;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-blocked-on:hover {
  background-color: rgb(160, 137, 4);
  color: cornflowerblue;
  font-weight: bold;
  pointer-events: none;
}

.card-blocked-ping {
  background-color: rgb(160, 137, 4);
  color: orange;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-blocked-ping:hover {
  background-color: rgb(160, 137, 4);
  color: orange;
  font-weight: bold;
  pointer-events: none;
}

.card-blocked-off {
  background-color: rgb(160, 137, 4);
  color: red;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-blocked-off:hover {
  background-color: rgb(160, 137, 4);
  color: red;
  font-weight: bold;
  pointer-events: none;
}

.card-blocked-unknown {
  background-color: rgb(160, 137, 4);
  color: dimgray;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-blocked-unknown:hover {
  background-color: rgb(160, 137, 4);
  color: dimgray;
  font-weight: bold;
  pointer-events: none;
}

.card-restricted-up {
  background-color: violet;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-restricted-up:hover {
  background-color: violet;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.card-restricted-on {
  background-color: violet;
  color: cornflowerblue;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-restricted-on:hover {
  background-color: violet;
  color: cornflowerblue;
  font-weight: bold;
  pointer-events: none;
}

.card-restricted-ping {
  background-color: violet;
  color: orange;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-restricted-ping:hover {
  background-color: violet;
  color: orange;
  font-weight: bold;
  pointer-events: none;
}

.card-restricted-off {
  background-color: violet;
  color: red;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-restricted-off:hover {
  background-color: violet;
  color: red;
  font-weight: bold;
  pointer-events: none;
}

.card-restricted-unknown {
  background-color: violet;
  color: dimgray;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-restricted-unknown:hover {
  background-color: violet;
  color: dimgray;
  font-weight: bold;
  pointer-events: none;
}

.card-insterr-on {
  background-color: red;
  color: cornflowerblue;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-insterr-on:hover {
  background-color: red;
  color: cornflowerblue;
  font-weight: bold;
  pointer-events: none;
}

.card-insterr-off {
  background-color: red;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-insterr-off:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  pointer-events: none;
}

.card-insterr-ping {
  background-color: red;
  color: orange;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  pointer-events: none;
}
.card-insterr-ping:hover {
  background-color: red;
  color: orange;
  font-weight: bold;
  pointer-events: none;
}

.card-selected-up {
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}
.card-selected-on {
  background-color: lightgreen;
  color: cornflowerblue;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}
.card-selected-ping {
  background-color: lightgreen;
  color: orange;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}
.card-selected-off {
  background-color: lightgreen;
  color: red;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}
.card-selected-unknown {
  background-color: lightgreen;
  color: dimgray;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
}

.card-expiring {
  background-color: rgb(234, 206, 241);
  padding: 1em;
  animation: blinker 1s infinite;
}

.expiring {
  background-color: rgb(244, 231, 248) !important;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.node-label {
  padding: 1em;
}
.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  padding: 0.1em;
  z-index: 1;
  border-radius: 15px;
  background-image: linear-gradient(rgb(223, 234, 245), rgb(184, 211, 238));
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}

@media screen and (max-width: 700px) {
  .card-list {
    font-size: x-small;
    padding-left: 2px;
    padding-right: 2px;
  }
}
